<h1 style="text-align: center;">Projects</h1>




	<% @projects.each do |prj|%>
	<label> Project ID :<%= prj.id %> </label>
		<ul>
			<li> 
				<a href= "<%=project_entries_path(prj)%>"><%= prj.name %></a>
				
				<%if prj.description.present? %>
				-
					<%= prj.description %> 
				<% end %>	
			</li>
			
		</ul>
				 <% end %>
		
	
		