<!DOCTYPE html>
<html>
<head>
  <title>Timetracking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body style="background-color: lightgrey;">
	<div class="container-fluid">
		
				

						<div class="col-lg-3 col-md-2 col-sm-2 col-xs-1"></div>

						<div class="col-lg-6 col-md-8 col-sm-8 col-xs-10">
							<div class="panel panel-default">
  								<div class="panel-body">
							<%= yield %>
								</div>
							</div>
						</div>
					
						<div class="col-lg-3 col-md-2 col-sm-2 col-xs-1">
						</div>
		
	</div>
</body>
</html>
